html {
  font-family: 'Courier New', courier, monospace;
}
.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}
.menu ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.menu li {
  background-color: #33b5e5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  margin-bottom: 7px;
  padding: 8px;
}
.menu li:hover {
  background-color: #0099cc;
}
.rside {
  background-color: #33b5e5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  font-size: 14px;
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}
.footer {
  background-color: #0099cc;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  padding: 15px;
}
